.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &-out {
    width: 100%;
    height: 100%;
    background: url("../img/background.jpg") center center/cover no-repeat;
    position: absolute;
    z-index: 5;
  }
  &-in {
    background-color: #E1F8FF;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.list-visits {
  background-color: #D1F9EB;
  flex-grow: 1;
  height: 100px;
  &-container {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding-top: 30px;
    height: calc(100% - 30px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.no-items {
  margin: 30px auto;
  padding-right: 75px;
  font-size: 24px;
  text-align: center;
  color: #0a417c;
}