.module-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-height: 200px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal {
  &-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
  }
  &-create-visit {
    background-color: #BFFCE6;
    width: 50%;
    min-height: 1%;
    padding: 20px 20px 65px 40px;

    & .modal-content {
      display: flex;
      flex-wrap: wrap;
      & form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        & div, & label {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          &.hidden {
            display: none;
          }
        }
      }
    }
  }

  &-title {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
  }
  &-visit-info {
    background-color: #BFFCE6;
    width: 50%;
    min-height: 1%;
    padding: 20px 20px 35px 40px;
    display: flex;
    flex-direction: column;
  }
  &-content {
    display: flex;
    flex-direction: column;
    & p {
      margin-bottom: 20px;
      display: flex;
      & label {
        margin-bottom: 10px;
      }
      & input {
      }
      span {
        margin-right: 10px;
        color: #676767;
      }
    }
  }
  &-edit-info {
    background-color: #BFFCE6;
    width: 50%;
    min-height: 1%;
    padding: 20px 20px 35px 40px;
    display: flex;
    flex-direction: column;

    & .modal-content {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: stretch;
      gap: 20px;
      height: 60vh;
        & p {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          & label {
            margin-bottom: 10px;
          }
          & input {
          }
          span {
            margin-right: 10px;
            color: #676767;
          }
      }
    }
  }
  &-visit-info  {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  &__login {
    position: absolute;
    top: 75px;
    right: 0;
    width: 380px;
    height: 170px;
    background-color: #FFF;
    border-radius: 15px 0 0 15px;
    padding: 0 25px 0 15px;
  }
}
